<div class ="content">
  <div class="row">
    <div class="col-5">

    <div class="row justify-content-center mt-5">
      <div class="col-sm-8 text-center">
        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable index">
            <i class="fas fa-heart"></i>
            <small>Calin</small>
          </div>

          <div class="clickable index">
            <i class="fas fa-volleyball-ball"></i>
            <small>Joueur</small>
          </div>
          <div class="clickable index">
            <i class="fas fa-running"></i>
            <small>Sportif</small>
          </div>

          <div class="clickable index">
            <i class="fas fa-paw"></i>
            <small>Protecteur</small>
          </div>
          <div class="clickable index">
            <i class="fas fa-bed"></i>
            <small>Dormeur</small>
          </div>
          <div class="clickable index">
            <i class="fas fa-bone"></i>
            <small>Bon vivant</small>
          </div>
        </div>
      </div>
    </div>

      <div class="cards">
        <% @pets.each do |pet| %>
          <%= link_to pet_path(pet) do %>
            <div class="card-pet">
            <!-- enlever quand on met cloudinary dans form -->
            <!-- <#%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %> -->
            <% if pet.photo.attached? %>
               <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://jardinage.lemonde.fr/images/dossiers/2019-11/berger-autralien-merle-094920.jpg">
            <% end %>
              <div class= "card-pet-info">
                <div>
                  <h2><%=  pet.name %></h2>
                  <p><%= pet.race.name %></p>
                </div>
                <div>
                  <p> <%  pet.tag_list.each do |tag| %>
                    <%= tag %>
                    <% end %></p>
                </div>
              </div>
            </div>
          <% end %>
        <%end %>
      </div>
    </div>
    <div class="col-7">
      <div
        id="map"
        style="width: 100%;
        height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

  </div>
</div>

