<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div id="carouselPetIndicators" class="carousel  d-flex justify-content-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselPetIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="1"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @pet.photos.first.key, class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @pet.photos.second.key, class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @pet.photos.third.key, class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselPetIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPetIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class= "pet-description">
      <div class= "description-header d-flex justify-content-between">
        <h3>  <%= @pet.name %> </h3>
        <div class="display-price&tags">
          <%= @pet.price%>€
          <div class= "display-tags d-flex justify-content-between">
            <% @pet.tag_list.each do |tag| %>
             <h6><%= tag %></h6>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class= "description">
        <div class="bottom-separation-description ">
          <div>
            <i class="fas fa-paw"></i>
            <%= @pet.race.name %>
          </div>
          <div>
            <i class="fas fa-birthday-cake"></i>
            <%= @pet.age %> years old
          </div>
          <div>
            <i class="fas fa-map-marked-alt"></i>
            <%= @pet.address %>
          </div>
        </div>
        <div><%= @pet.description %></div>
      </div>
    </div>
  </div>
</div>
