<div class="background-show-pets">
  <div class="container">
    <div id="carouselPetIndicators" class="carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselPetIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="1"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% if @pet.photos.attached? %>
         <% @pet.photos.each_with_index do |photo,index| %>
           <div class="carousel-item <%= "active" if index == 0 %>">
             <%= cl_image_tag photo.key , class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
           </div>
         <% end %>
        <% else %>
          <div class="carousel-item active">
            <%= cl_image_tag "azerty" , class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselPetIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPetIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  <div class = "description&background d-flex justify-content-center mt-5">
    <div class= "pet-description mr-3">
      <div class= "description-header d-flex justify-content-between align-items-center pt-3">
        <div>
          <h1><%= @pet.name %></h1>
          <div class="d-flex">
          <% @pet.tag_list.each do |tag| %>
            <h6 class="tag"><%= tag %></h6>
          <% end %>
          <% if policy(@pet).destroy? %>
            <button id="sweet-alert-demo" class="btn btn-danger">Unlist Pet</button>
            <%= link_to "", pet_path(@pet), method: :delete, id: "delete-link" %>
          <% end %>
          </div>
        </div>
        <div class= "display-price d-flex justify-content-between">
          <h4> <%= @pet.price%>€/day</h4>
        </div>

      </div>
      <hr>
      <div class= "description">
        <div class="bottom-separation-description ">
          <div class="cards-descriptions">
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-paw mb-2"></i></li>
                <li><%= @pet.race.name %></li>
              </ul>
            </div>
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-birthday-cake mb-2"></i></li>
                <li><%= @pet.age %> years old</li>
              </ul>
            </div>
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-map-marked-alt mb-2"></i></li>
                <li><%= @pet.address %></li>
              </ul>
            </div>
          </div>
            <h2 class="mt-3">Description</h2>
            <p class = "card-pet-description text-center p-3"> <%= @pet.description %></p>
          </div>
        </div>
      </div>
      <div class="mt-5 ml-3"> <%= render 'shared/flatpickr_form' %></div>
    </div>
  </div>
  <hr class = "m-5">
  <h4>Reviews</h4>
  <% if @pet.reviews.empty? %>
    <p><%= "Their is no review yet" %></p>
    <% else %>
  <div class="mt-3 p-3 card-review-description">
    <% @pet.reviews.each do |review| %>
      <div class="stars-display">
        <% review.rating.times do |index| %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>
      <div class ="mt-4">
        <p><em>Posted by</em><strong><%= review.booking.user.first_name %></strong></p>
        <h6><%= review.content %></h6>
      </div>
      <% end %>
  </div>
  <% end %>

</div>
