<div class="background-show-pets">
  <div class="container">
    <div id="carouselPetIndicators" class="carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselPetIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="1"></li>
        <li data-target="#carouselPetIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% if @pet.photos.attached? %>
         <% @pet.photos.each_with_index do |photo,index| %>
           <div class="carousel-item <%= "active" if index == 0 %>">
             <%= cl_image_tag photo.key , class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
           </div>
         <% end %>
        <% else %>
          <div class="carousel-item active">
            <%= cl_image_tag "azerty" , class: "img d-block w-100", width: 600, height: 500, crop: :fill %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselPetIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPetIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




  <div class = "description-background d-flex justify-content-around mt-5">
    <div class= "pet-description">
      <div class= "description-header d-flex justify-content-between">
        <h1><%= @pet.name %></h1>
        <div class="display-price-tags">
          <%= @pet.price%>€
          <div class= "display-tags d-flex justify-content-between">
            <% @pet.tag_list.each do |tag| %>
             <h6><%= tag %></h6>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class= "description">
        <div class="bottom-separation-description ">
          <div class="cards-descriptions">
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-paw mb-2"></i></li>
                <li><%= @pet.race.name %></li>
              </ul>
            </div>
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-birthday-cake mb-2"></i></li>
                <li><%= @pet.age %> years old</li>
              </ul>
            </div>
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-map-marked-alt mb-2"></i></li>
                <li><%= @pet.address %></li>
              </ul>
            </div>
            <div class = "card-pet-description text-center p-3">
              <ul>
                <li><i class="fas fa-question mb-2"></i></li>
                <li><%= @pet.description %></div></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5"> <%= render 'shared/flatpickr_form' %></div>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-evenly align-items-center card-review-description">
    <% @pet.reviews.each do |review| %>
      <div class="stars-display pt-2 pb-2">
        <% review.rating.times do |index| %>
          <i class="far fa-star custom-stars"></i>
        <% end %>
      </div>
      <div class="d-flex justify-content-around">
        <p class="mr-5"><%= review.content %></p>
        <p>Posted by <%= review.booking.user.first_name %></p>
      </div>
      <% end %>
  </div>
</div>

<% if policy(@pet).destroy? %>
  <%= link_to "Unlist pet", pet_path(@pet), method: "delete", data: {confirm: "Are you sure ?"} %>
<% end %>
