<div class="bg-img-home">
  <%= render 'shared/navbar' %>
  <div class="search-engine">
    <%= form_tag pets_path, method: :get, class:"horizontal" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control adjectives",
          placeholder: "Try \"beautiful labrador\""
        %>
        <%= text_field_tag :address,
          params[:address],
          class: "form-control address",
          placeholder: "Lille Flandres..."
        %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %>
  </div>
  <div id = "road">
    <i class="fas fa-cat fa-flip-horizontal icon-cat-home"></i>
    <i class="fas fa-dog icon-dog-home"></i>
  </div>
</div>
