<div class="bg-img-home">
  <%= render 'shared/navbar' %>
  <div class="content-home-center">
    <h2 class ="text-typed">
      <span id="banner-typed-text"></span>
    </h2>
    <div class="search-engine search-bar", id="search-date">
      <%= form_tag pets_path, method: :get, class:"horizontal" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control adjectives",
            placeholder: "Try \"beautiful labrador\""
          %>
          <%= text_field_tag :address,
            params[:address],
            class: "form-control address",
            placeholder: "Lille Flandres..."
          %>
          <%= text_field :start_date, params[:start_date], id: "range_start", class: "form-control search-date-engine", placeholder: "Tell us when"%>
          <%= text_field :end_date, params[:end_date], id: "range_end", class: "d-none" %>
          <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
  </div>
</div>
